.container {
  align-items: center;
  background-color: var(--darkestBlue);
  background-image: url(../img/star-bg.svg);
  background-position: center;
  background-repeat: repeat;
  background-size: 30%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.start__container {
  display: flex;
  flex-direction: column;
}

.start__title {
  color: var(--white);
  font-family: amerio;
  font-size: 4rem;
  letter-spacing: 3px;
  text-align: center;
  margin: 10rem 0 5rem;
}

.start__buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.start__button {
  align-items: center;
  background-color: var(--white);
  border: none;
  border-radius: var(--borderSmall);
  color: var(--orange);
  display: flex;
  font-family: amerio;
  font-size: 2rem;
  justify-content: center;
  letter-spacing: 2px;
  line-height: 2rem;
  margin: 2rem;
  padding: 5rem 3rem;
  text-align: center;
  width: 30rem;
}

.start__back {
  align-self: flex-end;
  background-color: inherit;
  border: none;
  color: var(--white);
  font-family: amerio;
  font-size: 1.5rem;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .container {
    background-size: 100%;
  }

  .start__title {
    font-size: 2.5rem;
    letter-spacing: 5px;
    line-height: 3.3rem;
    margin: 4rem 0 2rem;
    text-align: center;
  }

  .start__buttons {
    flex-direction: column;
  }

  .start__button {
    font-size: 1.5rem;
    margin: 1rem auto;
    min-height: 13rem;
    padding: 2rem 3rem;
    width: 80%;
  }
}
