@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
  font-family: "amerio";
  src: url("../assets/fonts/AmerioRough.otf")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

p {
  color: var(--white);
  font-family: amerio;

}

.hidden {
  display: none;
}

.punctuation {
  font-family: Roboto;
}