:root {
  --white: #EFEFEF;
  --darkWhite: #FBF8F7;
  --darkestBlue: #282561;
  --darkBlue: #3B3A73;
  --blue: #4E4F87;
  --lightBlue: #63669E;
  --lightestBlue: #7981BC;
  --orange: #F48022;
  --borderSmall: 10px;
}
